/* Short stories */

body {
    background-image: url("../img/paper.jpg");
    background-repeat: repeat;
    background-color: #cccccc;
}

.right-side {
    position: absolute;
    left: 800px;
    top: 0;
    padding: 50px;
    width: 600px;
    height: 100vh;
}

.right-side img {
    width: 100%;
}
